@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
}

.ant-btn-primary {
    background-color: rgb(16, 129, 232);
}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }

    .animation-delay-3000 {
        animation-delay: 3s;
    }
}
pre code {
    padding: 0 !important;
}

.prose pre {
    @apply border-x  bg-[#1e293b] dark:bg-[#1e293b];
}

.prose code {
    @apply rounded-lg bg-transparent dark:bg-transparent p-0;
}



.prose img {
    /* Don't apply styles to next/image */
    @apply m-0;
}

.prose > :first-child {
    /* Override removing top margin, causing layout shift */
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
}

/* Prism Styles */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    @apply text-gray-700 dark:text-gray-300;
}

.token.punctuation {
    @apply text-gray-700 dark:text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    @apply text-blue-500;
}

.token.function,
.token.class-name {
    @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
    @apply text-yellow-500;
}

code[class*='language-'],
pre[class*='language-'] {
    @apply text-[15px];
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
    @apply px-5 py-3 font-mono text-sm font-bold text-white bg-gdgBlue border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.rehype-code-title + pre {
    @apply mt-0 rounded-t-none;
}

.highlight-line {
    @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}